<div id="motions">
  <div class="message">
  
  </div>
  <div class="row inline">
    <label style="display: inline">
      <input type="checkbox" class="trigger-edited-only" {% if untagged %} checked {% endif %}> show untagged votes only
    </label>
    <input class="search selectable form-control" type="search" placeholder="Search" data-column="1" style="display: inline">
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="colid">ID</th>
        <th class="colses">Session</th>
        <th class="coldate">Date</th>
        <th class="coltitle">Title</th>
        <th class="coltags">Tags</th>
        <th class="colresult">Result</th>
        <th class="colresult">Results</th>
      </tr>
    </thead>
    <tbody>
      {% for motion in motions.results %}
        <tr>
          <th>{{ motion.id }}</th>
          <th>{{ motion.session }}</th>
          <th>{{ motion.start_time }}</th>
          <th>{{ motion.text }}</th>
          <th>
            <select class="select input" data-vote="{{motion.vote}}" multiple="multiple" style="width: 100%">
              {% for tag in tags %}
                <option value="{{ tag.name }}" {% if tag.name in motion.tags %} selected {% endif %}>{{ tag.name }}</option>
              {% endfor %}
            </select>
          </th>
          <th>
            <input type="radio" class="result" name="motion-{{motion.id}}" data-motion="{{motion.id}}" value="1" {% if motion.result == '1' %} checked {% endif %}> za <br>
            <input type="radio" class="result" name="motion-{{motion.id}}" data-motion="{{motion.id}}" value="0" {% if motion.result == '0' %} checked {% endif %}> proti
          <th>{% for opt, count in motion.results.items %} {{opt}}:{{count}}<br> {% endfor %}</th>
        </tr>
      {% endfor %}
    </tbody>
  </table>
  <center>
    <div class="pagination_div">
      {% if pagination.prev %} <button type="button" class="btn pagination" data-page="{{ pagination.prev }}"> <-</button> {% endif %}
      page: {{ pagination.current }}
      {% if pagination.next %} <button type="button" class="btn pagination" data-page="{{ pagination.next }}"> -></button> {% endif %}
    </div>
  </center>
  <script type="text/javascript">
    var motion_loaded = false;
    $(".pagination").off("click");
    $(".pagination").on("click", function(){
      var page = $(this).data("page");
      console.log(page)
      console.log("to je pajdz")
      getMotions("/motions/" + page + "/{{ untagged }}")
    });
    $(".trigger-edited-only").off("click");
    $(".trigger-edited-only").on("click", function(){
      var checked = 0
      if(this.checked){
        checked = 1
      }
      getMotions("/motions/" + {{ pagination.current }} + "/" + checked + "/")
    });
    $(".search").off('keyup');
    $(".search").on('keyup', function (e) {
      if (e.keyCode == 13) {
        console.log($(this).val())
        getMotions("/motions/" + {{ pagination.current }} + "/" + {{ untagged }} + "/" + $(this).val() + "/");
      }
    });


    function getMotions(endpoint){
      $(".overlay, .loader").show();
      $.ajax
        ({
          type: "GET",
          url: endpoint,

          success: function(data){
            $("#motions").replaceWith(data);
            $('.select').select2({
              tags: true});
            renew_listneners();
            $(".overlay, .loader").hide();
            motion_loaded = true;
          }
        });
    }
    renew_listneners();

    // enable save button. on input field change
    function renew_listneners(){
      $(".select").off("change");
      $(".select").on("change", function(event){
        var tags = $(this).parents('tr').find(".select").val();
        var vote_id = $(this).data("vote");
        console.log(tags)
        console.log(vote_id)
        sendData("votes/"+vote_id+"/", {'tags': tags}, 'Tagi shranjeni')
      });
      $(".result").off("change");
      $(".result").on("change", function(event){
        var result = $(this).val();
        var motion_id = $(this).data("motion");
        console.log(result)
        console.log(motion_id)
        sendData('motions/'+motion_id, {'result': result}, 'Rezultat shranjen')
      });
    }


    function sendData(endpoint, data, message){
      console.log("To je data")
      console.log(JSON.stringify(data))
      console.log("{{ data_url }}" + "/" + endpoint)
      $.ajax
        ({
          type: "PATCH",
          url: "{{ data_url }}" + "/" + endpoint,
          contentType: "application/json; charset=utf-8",
          dataType: "json",
          data: JSON.stringify(data),
          beforeSend: function (xhr) {
            xhr.setRequestHeader ("Authorization", "Basic " + btoa("{{ username }}:{{ password }}"));
          },
          success: function(data){
            alert(message);
          },
          failure: function(errMsg) {
              alert(errMsg);
          }
      });
      $('.message').html("<center>Set setters for last session</center>")
      $('.message').css('background-color', '#d16d6d');
    }
    $("#motion-btn").on("click", function(){
      if(!motion_loaded){
        getMotions("/motions/" + {{ pagination.current }} + "/" + 0 + "/")
      }
    })
  </script>
</div>