<div id="tests">
  <div class='row'>
    {% for group in tests %}
      <div class="col-md-3">
        <div class="group">
          {{ group.name }} <br>
          {% for setter in group.setters %}
            <div class="setter">
              <div class="title">
                {{ setter.name }}<br>
              </div>
              <input type='button' class='{{ setter.type }} button' data-url="{{ setter.url }}" value='Tests'>
              <div class="status_test">
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>
    
  <script type="text/javascript">
    $(".report").on('click', function(){
      $('.button').prop('disabled', true);
      var link = $(this).data('url')
      var this_button = $(this);
      $.get(link, function( data ) {
        console.log(data)
        this_button.siblings('.status_test').text(JSON.stringify(data));
        $('.button').prop('disabled', false);
      });
    });
  </script>